<?xml version="1.0" encoding="utf-8"?>
<launch>

  <arg name="use_nodelet" default="False"/>
  <arg name="input_topic" default="/os_cloud_node/points"/>
  <!--arg name="input_topic" default="/vilens/point_cloud_transformed_processed"/-->
  <arg name="output_topic" default="/os_cloud_node/box_filter_points"/>
  <arg name="min_x" default="-0.15"/>
  <arg name="max_x" default="0.7"/>
  <arg name="min_y" default="-0.3"/>
  <arg name="max_y" default="0.3"/>
  <arg name="min_z" default="-0.4"/>
  <arg name="max_z" default="0"/>
  <arg name="negative" default="True"/>

  <group ns="/pcl_filters">
    <group if="$(arg use_nodelet)">
      <!-- PCL Manager -->
      <node pkg="nodelet" type="nodelet" name="box_filter_pcl_manager" args="manager" output="screen"/>

      <!-- Run a passthrough filter to delimit in x direction -->
      <node pkg="nodelet" type="nodelet" name="box_filter" args="load pcl/CropBox box_filter_pcl_manager" output="screen">
        <remap from="~input" to="$(arg input_topic)"/>
        <remap from="~output" to="$(arg output_topic)"/>
        <rosparam subst_value="True">
          min_x: $(arg min_x)
          max_x: $(arg max_x)
          min_y: $(arg min_y)
          max_y: $(arg max_y)
          min_z: $(arg min_z)
          max_z: $(arg max_z)
          negative: $(arg negative)
        </rosparam>
      </node>
    </group>
    <group unless="$(arg use_nodelet)">
      <node pkg="pcl_tools_drs" type="box_filter" name="box_filter" output="screen">
        <param name="input_topic" value="$(arg input_topic)"/>
        <param name="output_topic" value="$(arg output_topic)"/>
        <rosparam subst_value="True">
          min_x: $(arg min_x)
          max_x: $(arg max_x)
          min_y: $(arg min_y)
          max_y: $(arg max_y)
          min_z: $(arg min_z)
          max_z: $(arg max_z)
          negative: $(arg negative)
        </rosparam>
      </node>
    </group>
  </group>
</launch>
