<?xml version="1.0"?>
<robot name="base_camera"  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="base_camera" params="name parent translateX:=0.2 translateY:=0.0 translateZ:=0.2 roll:=0.0 pitch:=0.0 yaw:=0.0 simulation:=false">
  <!-- param name: Name of the camera -->
  <!-- param parent: Parent link for camera joint -->

  <xacro:property name="camera_size" value="0.02"/>

  <!--create link from parent -->
  <joint name="${parent}_to_${name}" type="fixed">
    <origin xyz="${translateX} ${translateY} ${translateZ}" rpy="${roll} ${pitch} ${yaw}"/>
    <parent link="${parent}" />
    <child link="${name}_link" />
  </joint>
  
  <!-- Create camera -->
  <link name="${name}_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${camera_size}" radius="${camera_size}"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 ${PI/2} 0"/>
      <geometry>
        <cylinder length="${camera_size}" radius="${camera_size}"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 .8 1"/>
      </material>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <xacro:if value="${simulation}"> 
    <gazebo reference="${name}_link">
      <sensor type="camera" name="${name}">
        <update_rate>10.0</update_rate>
        <camera name="head">
          <horizontal_fov>1.3962634</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>300</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <!-- Noise is sampled independently per pixel on each frame.
              That pixel's noise value is added to each of its color
              channels, which at that point lie in the range [0,1]. -->
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>
          <cameraName>${name}</cameraName>
          <imageTopicName>image_raw</imageTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <frameName>${name}_link</frameName>
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:if>
  </xacro:macro>
</robot>
